@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$font-size: 15px;
$font1: "Lexend Deca";
$font2: "Big Shoulders Display";

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$paragraphs: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

@mixin display($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: $very-light-gray;
    font-size: $font-size;
    font-family: $font1;
    @include display(column);
    justify-content: flex-end;
    align-items: center;
}

main {
    @include display(column);
    min-height: 90vh;
    justify-content: center;
}

.card {
    @include display(row);
    max-width: 65.25rem;
    max-height: 60vh;
}

.mini-section {
    @include display(column);
    padding: 2rem;
    gap: 2rem;

    img {
        width: 28%;
        height: auto;
        margin-top: 1.5rem;
        margin-left: 1rem;
    }

    button {
        font-size: 18px;
        font-weight: 500;
        width: 10rem;
        border-radius: 2rem;
        margin-left: 1rem;
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        outline: none;
        border: 2px solid $very-light-gray;
        padding: 1rem 1.5rem;
        background-color: $very-light-gray;
        transition: 0.3s ease;
    }

    button:hover {
        cursor: pointer;
        background-color: transparent;
        color: $very-light-gray;
    }
}

.first {
    background-color: $bright-orange;

    button {
        color: $bright-orange;
    }
}

.second {
    background-color: $dark-cyan;

    button {
        color: $dark-cyan;
    }
}

.third {
    background-color: $very-dark-cyan;

    button {
        color: $very-dark-cyan;
    }
}

.text {
    @include display(column);
    gap: 2rem;
    color: $very-light-gray;
    margin-left: 1rem;

    h1 {
        text-transform: uppercase;
        font-family: $font2;
        font-weight: 700;
        font-size: 2.75rem;
    }

    p {
        letter-spacing: 0.3px;
        font-weight: 200;
        color: $paragraphs;
        line-height: 1.85;
        padding-right: 1.75rem;
    }
}

/* footer */
.attribution {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.attribution a {
    color: $very-dark-cyan;
    font-weight: 700;
}

@media screen and (max-width: 414px) {
    .card {
        @include display(column);
        max-width: 80vw;
        max-height: fit-content;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .attribution {
        padding: 0 12px;
    }
}